* text=auto !eol
demo/info.bioinfweb.tic.demo.sierpinski/.classpath -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/.project -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/src/GPL.txt -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/src/LGPL.txt -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/src/NOTICE.txt -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/src/info/bioinfweb/tic/demo/sierpinski/SWTApplication.java -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/src/info/bioinfweb/tic/demo/sierpinski/SierpinskiTriangleComponent.java -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/src/info/bioinfweb/tic/demo/sierpinski/SierpinskiTrianglePainter.java -text svneol=unset#text/plain
demo/info.bioinfweb.tic.demo.sierpinski/src/info/bioinfweb/tic/demo/sierpinski/SwingApplication.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/.classpath -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/.project -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/ant/additional_classpath_entries.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/ant/binaries.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/ant/build.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/ant/javaDoc_links.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/ant/javaDoc_sourceLocations.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/ant/library_jars.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/ant/rename_binaries.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/ant/sourcefiles.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/include/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/include/GPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/include/LGPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/include/NOTICE.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/include/lib/bioinfweb-commons-java-core-2.2.0.jar -text
main/info.bioinfweb.tic.core/include/lib/commons-lang3-3.1.jar -text
main/info.bioinfweb.tic.core/pom.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/GPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/LGPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/NOTICE.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/TICComponent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/TICPaintEvent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/TargetToolkit.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/exception/ToolkitSpecificInstantiationException.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/exception/UnsupportedToolkitException.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/AbstractEventForwarder.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICInputEvent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICKeyAdapter.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICKeyEvent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICKeyListener.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICListenerSet.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICMouseAdapter.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICMouseEvent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICMouseListener.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICMouseWheelEvent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/TICMouseWheelListener.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/input/package-info.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/package-info.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.core/src/info/bioinfweb/tic/toolkit/ToolkitComponent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/.classpath -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/.project -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/pom.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/GPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/LGPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/NOTICE.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/info/bioinfweb/tic/SwingComponentFactory.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/info/bioinfweb/tic/input/SwingKeyEventForwarder.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/info/bioinfweb/tic/input/SwingMouseEventForwarder.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/info/bioinfweb/tic/input/SwingMouseWheelEventForwarder.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/info/bioinfweb/tic/toolkit/AbstractSwingComponent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/info/bioinfweb/tic/toolkit/DefaultSwingComponent.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swing/src/info/bioinfweb/tic/toolkit/SwingComponentTools.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/.classpath -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/.project -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/pom.xml -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/GPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/LGPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/NOTICE.txt -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/SWTComponentFactory.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/input/AbstractSWTMouseEventForwarder.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/input/SWTKeyEventForwarder.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/input/SWTMouseEventForwarder.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/input/SWTMouseWheelEventForwarder.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/input/SWTSwingEventConversionTools.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/toolkit/AbstractSWTComposite.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/toolkit/AbstractSWTWidget.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/toolkit/DefaultSWTComposite.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/toolkit/DirectScrollingSWTComposite.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/toolkit/SWTComponentTools.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/toolkit/layoutdata/RowLayoutFactory.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/toolkit/layoutdata/SWTLayoutDataFactory.java -text svneol=unset#text/plain
main/info.bioinfweb.tic.swt/src/info/bioinfweb/tic/toolkit/layoutdata/SingleLayoutDataFactory.java -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/.classpath -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/.project -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/lib/junit-4.9b1.jar -text
test/info.bioinfweb.tic.test/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/src/GPL.txt -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/src/LGPL.txt -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/src/NOTICE.txt -text svneol=unset#text/plain
test/info.bioinfweb.tic.test/src/info/bioinfweb/tic/input/SWTSwingEventConversionToolsTest.java -text svneol=unset#text/plain
